<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- all CSS -->
    {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> --}}
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <!-- all JS -->
    <script src="/js/libs/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../socket.io/socket.io.js"></script>
    <script type='text/javascript' src='/js/libs/hbs.js'></script>
    <script src="/js/libs/moment-with-locales.js"></script>

    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Assistant' rel='stylesheet'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {{!-- <script> $(function(){$("#leftpanel").load("../leftpanel.html"); });</script>  --}}
    <script> $(function(){$("#shoutpanel").load("../shoutpanel.html"); });</script> 
    <title>Mango Riviera</title>
  
  </head>

  <body style="background-size: 100%; background-attachment: fixed; " background="/static/images/sandbeach.jpeg">
  
    <div id="content">

      {{> header room_n = room_n}}

      <div id="left">        
          {{!-- <div id="leftpanel"></div> --}}
          {{> leftpanel}}
      </div>
          
      <div id="right">

          {{#if success }}
              <div class="alert alert-success">SUCCESS: {{success}}</div>
          {{/if}}

          {{#if expressFlash}}
              <div class="alert alert-success">{{ expressFlash }}</div>
          {{/if}}

          {{#if expressFailureFlash}}
              <div class="alert alert-warning">{{ expressFailureFlash }}</div>
          {{/if}}

          {{#if sessionFlash.message}}
              <div class="{{ sessionFlash.type }}">
                  <strong>FLASH!</strong> {{ sessionFlash.message }}
              </div>
          {{/if}}

          {{> modalpartial}}
          {{> adminpanel}}
      </div>
  
      <div>
          {{> footer}}
      </div>

      {{> videopartial logout = "Logout"}}

      <script id="chat-template" type="x-handlebars-template">
        <!-- {{#each this}} -->
          <p><span style="color:gray"> {{timePosted}} </span> : <span style="color:green"> {{text}} </span></p>
        <!-- {{/each}} -->
      </script>

      <script src="/js/index2.js"></script>
      <script src="/js/processModal.js"></script>

  </body>
</html>
