<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- all CSS -->
    {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> --}}
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <!-- all JS -->
    <script src="/js/libs/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../socket.io/socket.io.js"></script>
    <script type='text/javascript' src='/js/libs/hbs.js'></script>
    <script src="/js/libs/moment-with-locales.js"></script>

    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Assistant' rel='stylesheet'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- included local html's -->
    <script> $(function(){$("#pickform").load("../pickform.html"); });</script> 
    {{!-- <script> $(function(){$("#leftpanel").load("../leftpanel.html"); });</script>  --}}
    <script> $(function(){$("#rightpanel").load("../rightpanel.html"); });</script> 

    <title>Mango Riviera</title>
  
  </head>

<body style="background-size: 100%; background-attachment: fixed; " background="/static/images/sandbeach.jpeg">
  
    <div id="content">

        {{> header firstlink = "Home"}}

      <div id="left">        
        {{!-- <div id="leftpanel"></div> --}}
        {{> leftpanel}}
      </div>
          
    <div id="right">

{{#if success }}
    <div class="alert alert-success">{{success}}</div>
    <div class="alert alert-success">SUCCESS: {{success}}</div>
{{/if}}
<div class="alert alert-success">{{nameconf}} is successfully added</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
    </div>
    <div class="modal-body">
          <p id="maintext"></p>
          <form id="universalForm"  role="form" method="POST">
            <input id="btid" type="hidden" name="id"/>
            <input id="btparent_id" type="hidden" name="parent_id"/>
            <input id="bttype" type="hidden" name="type"/>
            <p id="bttext" style="color:red"></p>
            <input id="btname" size="60" type="text" name="name" placeholder="name" autofocus="autofocus" /> 
            <input id="btsubname" size="60" type="text" name="subname" placeholder="sub-type name (for first column)" style="margin-top:10px;" autofocus="autofocus" /> 
            
            <span id="btradio" style="color:black">
              <br/>
              <p>info type (for second column) :</p>
              <input id="btrad3" type="radio" name="displaytype" onclick="btmsg.style.display = 'block'; bturl.style.display = 'block';"  value="webpage" checked> &nbsp; link to a web page<br/>
              <input id="btrad2" type="radio" name="displaytype" onclick="btmsg.style.display = 'block'; bturl.style.display = 'none';"  value="themessage"> &nbsp; display message<br/>
              <span id="btradl1"><input id="btrad1" type="radio" name="displaytype" onclick="btmsg.style.display = 'none'; bturl.style.display = 'none';" value="occupancy"> &nbsp; display current occupancy<br/></span>
              <span id="btradl4"><input id="btrad4" type="radio" name="displaytype" onclick="btmsg.style.display = 'none'; bturl.style.display = 'none';" value="availability"> &nbsp; display current availability<br/></span>
            </span>
            <input id="btmsg" size="60" type="text" name="msg" placeholder="message (for 2nd column)" style="margin-top:10px;"/>
            <input id="bturl" size="60" type="text" name="url" placeholder="webpage address (message above is displayed as a link)" style="margin-top:10px;"/>
            
            <label id="btplab" style="color:black;margin-top:10px;display: none">Price, USD: </label>
            <input id="btprice" size="10" type="text" name="price" style="display: none"/>
            <input id="btactionmsg" size="60" type="text" name="actionmsg" placeholder="action message (3rd column-book now, buy ticket, more info, etc.)" style="margin-top:10px;display: none"/>
            <br/>
            <button id="Submit" class="button1" onclick="formSubmit()" style="margin-top:10px;">Submit</button>
            <button type="button" class="button2" onclick="modal.style.display = 'none';" style="margin-top:10px;">Cancel</button>

          </form>
          <br/>
    </div>

    <div class="modal-footer">
    </div>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];



// When the user clicks the button, open the modal 
//( 11, '{{id}}', '{{name}}','sub-name','message',0, 'Edit the header type name:', '')
function showModal(type, idn, parent_id, name, subname, msg, price, maintext, infotype, url, actionmsg, price) {
    console.log("IDN1="+idn);
    console.log("NAME1="+name);
    console.log("message="+msg);
    console.log("infotype="+infotype);
    console.log("price="+price);

    modal.style.display = "block";

    var fe = getElementVars();

    fe.type.setAttribute('value',type);
    fe.idn.setAttribute('value',idn);
    fe.parent_id.setAttribute('value',parent_id);
    fe.dname.setAttribute('value',name);
    fe.dsubname.setAttribute('value',subname);
    console.log("message2="+msg);
    fe.dmsg.setAttribute('value', msg);
    fe.durl.setAttribute('value',url);
    fe.dactionmsg.setAttribute('value',actionmsg);
    fe.dprice.setAttribute('value',price);
    fe.dtext.innerHTML = name;
    fe.dmaintext.innerHTML = maintext;

    fe.rad3.checked = true; fe.dmsg.style.display = 'block'; fe.durl.style.display = 'block';
    if (infotype === 'occupancy') {fe.rad1.checked = true; fe.dmsg.style.display = 'none'; fe.durl.style.display = 'none';}
    if (infotype === 'themessage') { fe.rad2.checked = true; fe.dmsg.style.display = 'block'; fe.durl.style.display = 'none'; }
    if (type == 30 || type == 31) {fe.radl1.style.display = 'none';fe.radl4.style.display = 'block';} else {fe.radl1.style.display = 'block';fe.radl4.style.display = 'none';}
    if (type > 34) {fe.radl1.style.display = 'none';fe.radl4.style.display = 'none';}

    fe.dtext.style.display = 'block'; if ( type == 10 || type == 11 ) fe.dtext.style.display = 'none';    
    fe.dname.style.display = 'none'; if ( type == 10 || type == 11 ) fe.dname.style.display = 'block';

    if ( type < 14 ) fe.dradio.style.display = 'none'; else fe.dradio.style.display = 'block';
    if ( type < 14 ) fe.dactionmsg.style.display = 'none';  else fe.dactionmsg.style.display = 'block';
    if ( type < 14 ) fe.dmsg.style.display = 'none';  else fe.dmsg.style.display = 'block';
    if ( type < 14 ) fe.durl.style.display = 'none';  else fe.durl.style.display = 'block';

    if ( type < 14 || type == 22 || type == 32 || type == 42 ) fe.dsubname.style.display = 'none'; 
      else fe.dsubname.style.display = 'block'; 
    fe.dprice.style.display = 'none'; if ( type == 30 || type == 31 ) fe.dprice.style.display = 'block';
    fe.dplab.style.display = 'none'; if ( type == 30 || type == 31 ) fe.dplab.style.display = 'block';

}

//function showModalByTypes(subtypes) {
//  console.log('modalbytpes = '+subtypes);
//      modal.style.display = "block";
//    var fe = getElementVars();
//    fe.type.setAttribute('value',subtypes);
//}

function getElementVars(){
  var fe = new Object();
    fe.type = document.getElementById('bttype');
    fe.idn = document.getElementById('btid');    
    fe.parent_id = document.getElementById('btparent_id');
    fe.dname = document.getElementById('btname');        
    fe.dsubname = document.getElementById('btsubname');
    fe.dradio = document.getElementById('btradio');
    fe.dmsg = document.getElementById('btmsg');
    fe.durl = document.getElementById('bturl');
    fe.dprice = document.getElementById('btprice');
    fe.dactionmsg = document.getElementById('btactionmsg');  
    fe.dtext = document.getElementById('bttext');  
    fe.dmaintext = document.getElementById('maintext');
    fe.dplab = document.getElementById('btplab');
    fe.labl = document.getElementById('labl');
    fe.rad1 = document.getElementById('btrad1');
    fe.rad2 = document.getElementById('btrad2');
    fe.rad3 = document.getElementById('btrad3');
    fe.radl1 = document.getElementById('btradl1');
    fe.radl4 = document.getElementById('btradl4');
    return fe;
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

function formSubmit() {
      var fe = getElementVars();
      console.log("message22="+fe.dmsg.value);
      var idn = fe.idn.value;
      var parent_id = fe.parent_id.value;
      //var name = fe.dname.value;
      var type = fe.type.value;
      //var subname = fe.dsubname.value;
      var infotype = $("input:radio[name='displaytype']:checked").val();
      console.log("infotype - "+infotype);
      if ( type == 10 ) var act = "/admin/headertype/save";
      if ( type == 11 ) var act = "/admin/headertype/"+idn+"/update";
      if ( type == 20 ) var act = "/admin/booking_subtype/"+parent_id+"/"+infotype+"/save";
      if ( type == 21 ) var act = "/admin/booking_subtype/"+idn+"/"+parent_id+"/"+infotype+"/update";
      if ( type == 30 ) var act = "/admin/sell_subtype/"+parent_id+"/"+infotype+"/save";
      if ( type == 31 ) var act = "/admin/sell_subtype/"+idn+"/"+parent_id+"/"+infotype+"/update";
      if ( type == 40 ) var act = "/admin/info_subtype/"+parent_id+"/"+infotype+"/save";
      if ( type == 41 ) var act = "/admin/info_subtype/"+idn+"/"+parent_id+"/"+infotype+"/update";

      //alert("type = "+type);
      let formuniv = document.getElementById('universalForm');
      formuniv.setAttribute('action',act).submit();
      formuniv.reset();
      //resetForm($('#universalForm'));
      return false;
    };

    /*function resetForm($form) {
        $form.find('input:text, input:password, input:file, select, textarea').val('');
        $form.find('input:radio, input:checkbox')
            .removeAttr('checked').removeAttr('selected');
        console.log('in resetForm - just RESET');
    }*/

</script>

{{!-- <script> $(console.log("Success = "+req.flash('success')));</script>  --}}

      <div class="boxedtransp">
        <label id="labl" style="margin-left:5px;">Admin functions: &nbsp; (change any &amp; see tables change, would require password in real life)</label>
        <ul>
        <li><a onclick="showModal( 10, '', '', '','sub-name','',0, 'Add a new header type:', '','', '', 0)" href="#"> add new header type </a>
          <span style="display:inline-block; width: 80px;"></span>
          <a data-toggle="tooltip" data-placement="bottom" title='Upon a click it deletes all changes made by you to Mongoose collections, restores all initial entries to collections as if you never had changed anything. Defaults are auto-restored every night at 4 a.m. EST !' onclick="" href="#">( Undo all changes, restore defaults )</a>
        </li>
        <li><a  href="#"  onclick="myFunction('myDIV')">edit / delete existing header type</a><span style="color:dimgrey;font-size:12px;"> &nbsp; ( {{headertypes}} added )</span><br/></li>
        <div id="myDIV" style="display:none">
          
          {{#if list_headertypes }}
            <a  href="#"  onclick="myFunction('myDIV')">&nbsp; &nbsp; &nbsp; - list of existing header types - please use relevant buttons:</a>
          {{else}}
            <label style="color:green;font-size:14px;">&nbsp; &nbsp; &nbsp; - no header types are found</label>
          {{/if}}
          <ul>
          {{#each list_headertypes}}
            <li><span>{{name}}</span> &nbsp; 
            <a class="addn" onclick="showModal( 11, '{{id}}', '', '{{name}}','sub-name','',0, 'Edit the header type name:', '','', '', 0)" href="#"> edit </a> &nbsp; 
            <a class="addn" onclick="showModal( 12, '{{id}}', '', '{{name}}','sub-name','',0, 'Delete the header type ?', '','', '', 0)" href="#"> delete </a> &nbsp;
            {{!-- <a class="addn" onclick="showModal( 20, '', '{{id}}', '{{name}}','','',0, 'Add a new booking SUB-type:', '', '', '')" href="#"> add new SUB-type </a> --}}
            <br/>
          {{/each}}
          </ul>
        </div>

        <li><a  href="#"  onclick='showModalByTypes(JSON.stringify("{{list_headertypes}}"));' >booking SUB-types of existing header types</a><br/></li>



        <li><a  href="#"  onclick="myFunction('myDIV1')">add new Booking SUB-type</a><br/></li>
        <div id="myDIV1" style="display:none">
          
          {{#if list_headertypes }}
            <a  href="#"  onclick="myFunction('myDIV1')">&nbsp; &nbsp; &nbsp; - select an existing header type &amp; click add button</a>
          {{else}}
            <label style="color:green;font-size:14px;">&nbsp; &nbsp; &nbsp; - no header types are found</label>
          {{/if}}
          <ul>
          {{#each list_headertypes}}
            <li><span>{{name}}</span> &nbsp; 
            <a class="addn" onclick="showModal( 20, '', '{{id}}', 'Header type: &nbsp; &nbsp;{{name}}','','',0, 'Add a new booking SUB-type:', '','', '', 0)" href="#"> add new SUB-type </a>
            <br/>
          {{/each}}
          </ul>
        </div>



        <li><a  href="#"  onclick="myFunction('myDIV2')">edit / delete existing Booking SUB-type</a><span style="color:dimgrey;font-size:12px;"> &nbsp; ( {{booking_subtypes}} added )</span><br/></li>
        <div id="myDIV2" style="display:none">

          {{#if list_booking_subtypes }}
            <a  href="#"  onclick="myFunction('myDIV2')">&nbsp; &nbsp; &nbsp; - list of existing Booking SUB-types - please use relevant buttons:</a>
          {{else}}
            <label style="color:green;font-size:14px;">&nbsp; &nbsp; &nbsp; - no Booking SUB-types are found</label>
          {{/if}}

          <ul>
          {{#each list_booking_subtypes}}
            <li><span>{{subname}} &nbsp; &nbsp; ( {{parent.name}} )</span> &nbsp; 
            <a class="addn" onclick="showModal( 21, '{{id}}', '{{parent._id}}', 'Header type: &nbsp;&nbsp;{{parent.name}}','{{subname}}','{{message}}',0, 'Edit the booking SUB-type name:', '{{infotype}}','{{infowebpage}}', '{{actionmsg}}', 0)" href="#"> edit </a> &nbsp; 
            <a class="addn" onclick="showModal( 22, '{{id}}', '{{parent._id}}', 'Header type: &nbsp;&nbsp;{{parent.name}}','{{subname}}','',0, 'Delete the booking SUB-type ?', '','', '', 0)" href="#"> delete </a> &nbsp; 
            <br/>
          {{/each}}
          </ul>
        </div>



        <li><a  href="#"  onclick="myFunction('myDIV3')">add new Sell SUB-type</a><br/></li>
        <div id="myDIV3" style="display:none">
          
          {{#if list_headertypes }}
            <a  href="#"  onclick="myFunction('myDIV3')">&nbsp; &nbsp; &nbsp; - select an existing header type &amp; click add button</a>
          {{else}}
            <label style="color:green;font-size:14px;">&nbsp; &nbsp; &nbsp; - no header types are found</label>
          {{/if}}
          <ul>
          {{#each list_headertypes}}
            <li><span>{{name}}</span> &nbsp; 
            <a class="addn" onclick="showModal( 30, '', '{{id}}', 'Header type: &nbsp; &nbsp;{{name}}','','',0, 'Add a new sell SUB-type:', '','', '', 0)" href="#"> add new SUB-type </a>
            <br/>
          {{/each}}
          </ul>
        </div>

        
        
        
        <li><a  href="#"  onclick="myFunction('myDIV4')">edit / delete existing Sell SUB-type</a><span style="color:dimgrey;font-size:12px;"> &nbsp; ( {{sell_subtypes}} added )</span><br/></li>
        <div id="myDIV4" style="display:none">

          {{#if list_sell_subtypes }}
            <a  href="#"  onclick="myFunction('myDIV4')">&nbsp; &nbsp; &nbsp; - list of existing Sell SUB-types - please use relevant buttons:</a>
          {{else}}
            <label style="color:green;font-size:14px;">&nbsp; &nbsp; &nbsp; - no Sell SUB-types are found</label>
          {{/if}}

          <ul>
          {{#each list_sell_subtypes}}
            <li><span>{{subname}} &nbsp; &nbsp; ( {{parent.name}} )</span> &nbsp; 
            <a class="addn" onclick="showModal( 31, '{{id}}', '{{parent._id}}', 'Header type: &nbsp;&nbsp;{{parent.name}}','{{subname}}','{{message}}',0, 'Edit the sell SUB-type name:', '{{infotype}}','{{infowebpage}}', '{{actionmsg}}', '{{price}}')" href="#"> edit </a> &nbsp; 
            <a class="addn" onclick="showModal( 32, '{{id}}', '{{parent._id}}', 'Header type: &nbsp;&nbsp;{{parent.name}}','{{subname}}','',0, 'Delete the sell SUB-type ?', '','', '', 0)" href="#"> delete </a> &nbsp; 
            <br/>
          {{/each}}
          </ul>
      </div>



        <li><a  href="#"  onclick="myFunction('myDIV5')">add new Info SUB-type</a><br/></li>
        <div id="myDIV5" style="display:none">
          
          {{#if list_headertypes }}
            <a  href="#"  onclick="myFunction('myDIV5')">&nbsp; &nbsp; &nbsp; - select an existing header type &amp; click add button</a>
          {{else}}
            <label style="color:green;font-size:14px;">&nbsp; &nbsp; &nbsp; - no header types are found</label>
          {{/if}}
          <ul>
          {{#each list_headertypes}}
            <li><span>{{name}}</span> &nbsp; 
            <a class="addn" onclick="showModal( 40, '', '{{id}}', 'Header type: &nbsp; &nbsp;{{name}}','','',0, 'Add a new info SUB-type:', '','', '',0)" href="#"> add new SUB-type </a>
            <br/>
          {{/each}}
          </ul>
        </div>




        <li><a  href="#"  onclick="myFunction('myDIV6')">edit / delete existing Info SUB-type</a><span style="color:dimgrey;font-size:12px;"> &nbsp; ( {{info_subtypes}} added )</span><br/></li>
        <div id="myDIV6" style="display:none">

          {{#if list_info_subtypes }}
            <a  href="#"  onclick="myFunction('myDIV6')">&nbsp; &nbsp; &nbsp; - list of existing Info SUB-types - please use relevant buttons:</a>
          {{else}}
            <label style="color:green;font-size:14px;">&nbsp; &nbsp; &nbsp; - no Info SUB-types are found</label>
          {{/if}}

          <ul>
          {{#each list_info_subtypes}}
            <li><span>{{subname}} &nbsp; &nbsp; ( {{parent.name}} )</span> &nbsp; 
            <a class="addn" onclick="showModal( 41, '{{id}}', '{{parent._id}}', 'Header type: &nbsp;&nbsp;{{parent.name}}','{{subname}}','{{message}}',0, 'Edit the booking SUB-type name:', '{{infotype}}','{{infowebpage}}', '{{actionmsg}}', 0)" href="#"> edit </a> &nbsp; 
            <a class="addn" onclick="showModal( 42, '{{id}}', '{{parent._id}}', 'Header type: &nbsp;&nbsp;{{parent.name}}','{{subname}}','',0, 'Delete the booking SUB-type ?', '','', '',0)" href="#"> delete </a> &nbsp; 
            <br/>
          {{/each}}
          </ul>
      </div>

        </ul>
      </div>

      <div class="boxedtransp">
        <label>Send Broadcast ( Shoutboard ) message - ( Admin only ) :</label>
        <div style="height:100px;overflow: scroll;">
          <ol id="messages"></ol>
        </div>
      <form id="message-form">
        <textarea id="messageinput" rows="3" cols="50" style="width: 80%" name="message" type="text" placeholder="message" autofocus autocomplete="off"></textarea>
        <br/>
        <button class="button1">Send</button>
      </form>

    </div>

    <script id="chat-template" type="x-handlebars-template">
        <!-- {{#each this}} -->
          <p><span style="color:gray">@ {{timePosted}} </span> : <span style="color:green"> {{text}} </span></p>
        <!-- {{/each}} -->
      </script>

    </div>
  
    </div>
        {{> footer}}
    </div>

      {{> videopartial}}

      <script src="/js/index2.js"></script>

      <script>
        function myFunction(divName) {
            console.log("divName = "+divName);
            var x = document.getElementById(divName);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
      </script>

  </body>
</html>
