<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- all CSS -->
    {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> --}}
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <!-- all JS -->
    <script src="/js/libs/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../socket.io/socket.io.js"></script>
    <script type='text/javascript' src='/js/libs/hbs.js'></script>
    <script src="/js/libs/moment-with-locales.js"></script>

    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Assistant' rel='stylesheet'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- included local html's -->
    <script> $(function(){$("#pickform").load("../pickform.html"); });</script> 
    <script> $(function(){$("#leftpanel").load("../leftpanel.html"); });</script> 
    <script> $(function(){$("#rightpanel").load("../rightpanel.html"); });</script> 

    <title>Mango Riviera</title>
  
  </head>

<body style="background-size: 100%; background-attachment: fixed; " background="/static/images/sandbeach.jpeg">
  
    <div id="content">

        {{> header firstlink = "Home"}}

      <div id="left">        
        <div id="leftpanel"></div>
      </div>
          
    <div id="right">

{{#if success }}
    <div class="alert alert-success">{{success}}</div>
    <div class="alert alert-success">SUCCESS: {{success}}</div>
{{/if}}


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
    </div>
    <div class="modal-body">
          <p id="maintext"></p>
          <form id="universalForm"  role="form" method="POST">
            <input id="btid" type="hidden" name="id"/>
            <input id="bttype" type="hidden" name="type"/>
            <p id="bttext" style="color:red"></p>
            <input id="btname" size="30" type="text" name="name" placeholder="name"/> 
            <input id="btsubname" size="30" type="text" name="subname" placeholder="sub-type name" style="margin-top:10px;"/> 
            <input id="btmessage" size="30" type="text" name="message" placeholder="message" style="margin-top:10px;"/>
            <input id="btprice" size="10" type="text" name="price" placeholder="price, USD" style="margin-top:10px;"/> 
            <br/>
            <button id="Submit" class="button1" onclick="formSubmit()">Submit</button>
            <button type="button" class="button2" onclick="modal.style.display = 'none';">Cancel</button>

          </form>
          <br/>
    </div>

    <div class="modal-footer">
    </div>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
//( 11, '{{id}}', '{{name}}','sub-name','message',0, 'Edit the booking type name:', '')
function showModal(type, idn, name, subname, message, price, maintext) {
    console.log("IDN1="+idn);
    modal.style.display = "block";

    var fe = getElementVars();

    fe.type.setAttribute('value',type);
    fe.idn.setAttribute('value',idn);
    fe.dname.setAttribute('value',name);
    fe.dsubname.setAttribute('value',subname);
    fe.dmessage.setAttribute('value',message);
    fe.dprice.setAttribute('value',price);
    fe.dtext.innerHTML = name;
    fe.dmaintext.innerHTML = maintext;


    fe.dtext.style.display = 'none'; 
    if ( type == 12 || type == 20 || type == 22 || type == 32 || type == 42 ) fe.dtext.style.display = 'block';
    if ( type == 12 || type == 20 || type == 22 || type == 32 || type == 42 ) fe.dname.style.display = 'none'; 
                                                else fe.dname.style.display = 'block';
    if ( type < 14 || type == 22 || type == 32 || type == 42 ) fe.dsubname.style.display = 'none'; 
                                                else fe.dsubname.style.display = 'block';
    if ( type != 22 || type != 32 || type != 42 ) fe.dmessage.style.display = 'none'; 
                                                else fe.dmessage.style.display = 'block';
    if ( type < 34 ) fe.dprice.style.display = 'none'; else fe.dprice.style.display = 'block';
}

function getElementVars(){
  var fe = new Object();
    fe.type = document.getElementById('bttype');
    fe.idn = document.getElementById('btid');    
    fe.dname = document.getElementById('btname');        
    fe.dsubname = document.getElementById('btsubname');  
    fe.dmessage = document.getElementById('btmessage');  
    fe.dprice = document.getElementById('btprice');      
    fe.dtext = document.getElementById('bttext');  
    fe.dmaintext = document.getElementById('maintext');
    fe.labl = document.getElementById('labl');
    return fe;
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

function formSubmit() {
      var fe = getElementVars();
      var idn = fe.idn.value;
      var name = fe.dname.value;
      var type = fe.type.value;
      var subname = fe.dsubname.value;
      if ( type == 10 ) var act = "/admin/bookingtype/save";
      if ( type == 11 ) var act = "/admin/bookingtype/"+idn+"/update";
      if ( type == 20 ) var act = "/admin/subbookingtype/"+idn+"/save";
      //alert("type = "+type);
      document.getElementById('universalForm').setAttribute('action',act).submit();
      return false;
    };

</script>

{{!-- <script> $(console.log("Success = "+req.flash('success')));</script>  --}}

      <div class="boxedtransp">
        <label id="labl" style="margin-left:5px;">Admin functions: &nbsp; (change any &amp; see tables change, would require password in real life)</label>
        <ul>
        <li><a onclick="showModal( 10, '', '','sub-name','message',0, 'Add a new booking type:', '')" href="#"> add new booking type </a></li>
        <li><a  href="#"  onclick="myFunction('myDIV')">edit / delete existing booking type</a><br/></li>
        <div id="myDIV" style="display:none">
          
          {{#if list_bookingtypes }}
            <a  href="#"  onclick="myFunction('myDIV')">&nbsp; &nbsp; &nbsp; - list of existing Booking types - please use relevant buttons:</a>
          {{else}}
            <label style="color:green;font-size:14px;">&nbsp; &nbsp; &nbsp; - no Booking types are found</label>
          {{/if}}
          <ul>
          {{#each list_bookingtypes}}
            <li><span>{{name}}</span> &nbsp; 
            <a class="addn" onclick="showModal( 11, '{{id}}', '{{name}}','sub-name','message',0, 'Edit the booking type name:', '')" href="#"> edit </a> &nbsp; 
            <a class="addn" onclick="showModal( 12, '{{id}}', '{{name}}','sub-name','message',0, 'Delete the booking type ?', '')" href="#"> delete </a> &nbsp; 
            <a class="addn" onclick="showModal( 20, '{{id}}', '{{name}}','','message',0, 'Add a new booking SUB-type:', '')" href="#"> add new SUB-type </a>
            <br/>
          {{/each}}
          </ul>
        </div>

        <li><a  href="#"  onclick="myFunction('myDIV1')">add new booking SUB-type</a><br/></li>
        <div id="myDIV1" style="display:none">
          
          {{#if list_bookingtypes }}
            <a  href="#"  onclick="myFunction('myDIV1')">&nbsp; &nbsp; &nbsp; - select an existing Booking type &amp; click add button</a>
          {{else}}
            <label style="color:green;font-size:14px;">&nbsp; &nbsp; &nbsp; - no Booking types are found</label>
          {{/if}}
          <ul>
          {{#each list_bookingtypes}}
            <li><span>{{name}}</span> &nbsp; 
            <a class="addn" onclick="showModal( 20, '{{id}}', '{{name}}','','message',0, 'Add a new booking SUB-type:', '')" href="#"> add new SUB-type </a>
            <br/>
          {{/each}}
          </ul>
        </div>

        <li><a  href="#"  onclick="myFunction('myDIV2')">edit / delete existing booking SUB-type</a><br/></li>
        <div id="myDIV2" style="display:none">

          {{#if list_subbookingtypes }}
            <a  href="#"  onclick="myFunction('myDIV2')">&nbsp; &nbsp; &nbsp; - list of existing 'Booking SUB-type's - please use relevant buttons:</a>
          {{else}}
            <label style="color:green;font-size:14px;">&nbsp; &nbsp; &nbsp; - no Booking SUB-types are found</label>
          {{/if}}

          <ul>
          {{#each list_subbookingtypes}}
            <li><span>{{subname}} ( {{name}} )</span> &nbsp; 
            <a class="addn" onclick="showModal( 21, '{{id}}', '{{name}}','{{subname}}','message',0, 'Edit the booking SUB-type name:', '')" href="#"> edit </a> &nbsp; 
            <a class="addn" onclick="showModal( 22, '{{id}}', '{{name}}','{{subname}}','message',0, 'Delete the booking SUB-type ?', '')" href="#"> delete </a> &nbsp; 
            <br/>
          {{/each}}
          </ul>
      </div>

        <li><a  href="/admin/addselltype.html">add new sell type</a><br/></li>
        <li><a  href="/admin/editselltype.html">edit / delete existing sell type</a><br/></li>
        <li><a  href="/admin/addsellsubtype.html">add new sell SUB-type</a><br/></li>
        <li><a  href="/admin/editsellsubtype.html">edit / delete existing sell SUB-type</a><br/></li>
        <li><a  href="/admin/addinfotype.html">add new info type</a><br/></li>
        <li><a  href="/admin/editinfotype.html">edit / delete existing info type</a><br/></li>
        </ul>
      </div>

      <div class="boxedtransp">
        <label>Send Broadcast ( Shoutboard ) message - ( Admin only ) :</label>
        <div style="height:100px;overflow: scroll;">
          <ol id="messages"></ol>
        </div>
      <form id="message-form">
        <textarea id="messageinput" rows="3" cols="50" style="width: 80%" name="message" type="text" placeholder="message" autofocus autocomplete="off"></textarea>
        <br/>
        <button class="button1">Send</button>
      </form>

    </div>

    <script id="chat-template" type="x-handlebars-template">
        <!-- {{#each this}} -->
          <p><span style="color:gray">@ {{timePosted}} </span> : <span style="color:green"> {{text}} </span></p>
        <!-- {{/each}} -->
      </script>

    </div>
  
    </div>
        {{> footer}}
    </div>

      {{> videopartial}}

      <script src="/js/index2.js"></script>

      <script>
        function myFunction(divName) {
            console.log("divName = "+divName);
            var x = document.getElementById(divName);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
      </script>

  </body>
</html>
