<!DOCTYPE html>
<html>
  <head></head>
<body>

<h2>{{title}}</h2>
<div id="comments">
    <h2><a href="/posts/#{{id}}">test test</a></h2>
  {{#each list_bookingtypes}}
  <h2><a href="/posts/#{{id}}">{{name}}</a></h2>
  <div>{{body}}</div>
  {{/each}}
</div>
</body>