<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- all CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <!-- all JS -->
    <script src="/js/libs/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../socket.io/socket.io.js"></script>
    <script type='text/javascript' src='/js/libs/hbs.js'></script>
    <script src="/js/libs/moment-with-locales.js"></script>

    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Assistant' rel='stylesheet'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- included local html's -->
    {{!-- <script> $(function(){$("#pickform").load("pickform.html"); });</script> 
    <script> $(function(){$("#leftpanel").load("leftpanel.html"); });</script>  --}}
    <script> $(function(){$("#rightpanel").load("../rightpanel.html"); });</script> 

    <title>Mango Riviera</title>
  
  </head>

<body style="background-size: 100%; background-attachment: fixed; " background="/static/images/sandbeach.jpeg">
  
    <div id="content">

        {{> header room_n = room_n}}
      
      <div id="left">        
        {{!-- <div id="leftpanel"></div> --}}
        {{> leftpanel}}
      </div>
          

      




      <div id="right">
          {{#if expressFlash}}
              <div class="alert alert-success">{{ expressFlash }}</div>
          {{/if}}

          {{#if expressFailureFlash}}
              <div class="alert alert-warning">{{ expressFailureFlash }}</div>
          {{/if}}

        <div class="boxedtransp">
          <h4>List of your bookings and purchases:</h4>
          <span style="font-size=14px;color:gray;">(to make a new booking or purchase use action buttons in the last column of the table. In this demo version all bookings / purchases are cleared off every night or if defaults are restored)</span>
        </div>
        <div class="boxedtransp">
        {{!-- <div id="rightpanel"></div>
        {{> sendform}} --}}


          {{#if list_bookings}}
            <label style="color:green;font-size:18px;">&nbsp; &nbsp; Your bookings: </label> ( sorted by start-time ) 
            <ul>
            {{#each list_bookings}}
              {{#if bookingname}}
              <li>
                <label style="color:rgb(36, 115, 141);font-size:16px;">{{{bookingname}}}</label>
                &nbsp; &nbsp; 
                {{#if isActive}}
                  <a class="addn" href="#" onclick="showModal(1, '{{_id}}')">Cancel</a>
                {{else}}
                  <span style="color:red; font-size:14px;">Cancelled by guest</span>
                {{/if}}
                <p>
                  {{#if isActive}}
                  {{else}}
                    Was 
                  {{/if}}
                  booked from {{starttime}}  to {{endtime}} on {{dateStr}}
                </p>
              </li>
              {{/if}}
            {{/each}}
            </ul>
          {{else}}
            <label style="color:green;font-size:18px;">&nbsp; &nbsp; &nbsp; - no bookings made by you are found</label>
          {{/if}}

        <br/><br/>
          {{#if list_buys}}
            <label style="color:green;font-size:18px;">&nbsp; &nbsp; Your purchases: </label> ( sorted by date )
            <ul>
            {{#each list_buys}}
              {{#if buyname}}
              <li>
                <label style="color:rgb(36, 115, 141);font-size:16px;">{{{buyname}}}</label>
                &nbsp; &nbsp; 
                {{#if isActive}}
                  <a class="addn" href="#" onclick="showModal(2, '{{_id}}')">return &amp; request reimbursement</a>
                {{else}}
                  <span style="color:red; font-size:14px;">Cancelled by guest. Reimbursement pending</span>
                {{/if}}
                <p>
                  {{#if isActive}}
                  {{else}}
                    Was 
                  {{/if}}
                  scheduled for {{dateStr}} - total price is ${{total}} ({{qnty}} at ${{price}} each)
                </p>

              </li>
              {{/if}}
            {{/each}}
            </ul>
          {{else}}
            <label style="color:green;font-size:18px;">&nbsp; &nbsp; &nbsp; - no buys made by you are found</label>
          {{/if}}
        </div>
      </div>
  
    </div>
        {{> footer}}
    </div>

      {{> videopartial logout = "Logout"}}

            




            <!-- The Modal -->
      <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <span class="close">&times;</span>
          </div>
          <div class="modal-body">
                <p id="maintext"></p>
                <form id="loginForm" role="form" method="POST">
                  <input id="bttype" type="hidden" name="type"/>
                  <input id="btid" type="hidden" name="btid"/>
                  <p id="textid">Are you sure ?</p>
                  <br/>
                  <button id="Submit" class="button1" onclick="formSubmitRoom()" style="margin-top:10px;">Confirm</button> &nbsp; &nbsp;
                  <button type="button" class="button2" onclick="modal.style.display = 'none';" style="margin-top:10px;">Cancel</button>
                </form>
                <br/>
          </div>

          <div class="modal-footer">
          </div>
        </div>

      </div>

      <script>
      // Get the modal
      var modal = document.getElementById('myModal');

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];



      // When the user clicks the button, open the modal 
      //( 11, '{{id}}', '{{name}}','sub-name','message',0, 'Edit the header type name:', '')
      function showModal(type, btid) {

          var fe = getElementVars();

          modal.style.display = "block";    
          fe.type.setAttribute('value',type);
          fe.btid.setAttribute('value',btid);
      }


      function getElementVars(){
        var fe = new Object();
          fe.type = document.getElementById('bttype');
          fe.btid = document.getElementById('btid');
          fe.textid = document.getElementById('textid');
          return fe;
      }

      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
          modal.style.display = "none";
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
          if (event.target == modal) {
              modal.style.display = "none";
          }
      }

      function formSubmitRoom() {
            let fe = getElementVars();
            let type = fe.type.value;
            let btid = fe.btid.value;

            let action;
            
            if (type == 1) action = "/users/cancelbooking/"+btid;
            if (type == 2) action = "/users/cancelbuy/"+btid;
            console.log('type='+type);
            console.log('action='+action);

            let formLogin = document.getElementById('loginForm');
            formLogin.setAttribute('action',action).submit();
            formLogin.reset();
            return false;
          }

      </script>
      

      <script src="../js/index2.js"></script>
  </body>
</html>
